asgiref==3.8.1
autopep8==2.3.1
crispy-bootstrap5==2024.10
Django==5.1.4
django-crispy-forms==2.3
django-theme-material-kit==1.0.19
flake8==7.1.1
gunicorn==21.2.0
mccabe==0.7.0
packaging==24.2
pycodestyle==2.12.1
pyflakes==3.2.0
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.2
str2bool==1.1
tzdata==2024.2
whitenoise==6.6.0
