{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">About Chef Mate</h1>
    <p class="text-center">Welcome to Chef Mate – your ultimate platform for managing chefs, dishes, and dish types.</p>
    <p class="text-center">
        This project was created to simplify the management of culinary activities, allowing users to organize dishes, assign cooks, and track dish categories efficiently.
    </p>
    <div class="text-center">
        <img src="{% static 'assets/img/curved-images/curved6.jpg' %}" alt="Chef Mate" class="img-fluid rounded shadow" style="max-width: 400px;">
    </div>

</div>
{% endblock %}
