{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Dish List</h1>
    <a href="{% url 'dishes:dish-create' %}" class="btn btn-primary mb-3">Add New Dish</a>
    <ul class="list-group">
        {% for dish in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ dish.name }} - ${{ dish.price }}
            <span>
                <a href="{% url 'dishes:dish-detail' dish.id %}" class="btn btn-info btn-sm">Details</a>
                <a href="{% url 'dishes:dish-update' dish.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'dishes:dish-delete' dish.id %}" class="btn btn-danger btn-sm">Delete</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
