{% extends "base.html" %}

{% block title %}
<title>Chef Mate</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Welcome to Chef Mate!</h1>
        <p>The Chef Mate app has the following record counts:</p>
        <ul>
            <li><strong>Dishes:</strong> {{ num_dishes }}</li>
            <li><strong>Cooks:</strong> {{ num_cooks }}</li>
            <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
        </ul>

        <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

        <div class="text-center mt-4">
            <a href="{% url 'dishes:dish-create' %}" class="btn btn-primary">Add New Dish</a>
            <a href="{% url 'dishes:dish-type-create' %}" class="btn btn-secondary">Add New Dish Type</a>
        </div>
    </div>
{% endblock %}
